*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

nav{
    padding: 10px 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgb(223,255,223);
    background: linear-gradient(90deg, rgba(223,255,223,1) 0%, rgba(255,221,233,1) 100%);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}

nav ul{
    display: flex;
    align-items: center;
    gap: 50px;
    list-style: none;
}

nav ul li a{
    color: black;
    text-decoration: none;
    font-weight: 600;
}

.menuMobile{
    display: none;
}

.botonMenu{
    display: none;
}

.botonMenu i{
    cursor: pointer;
    font-size: 40px;
}

.header{
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px 10%;
    flex-wrap: wrap;
}


.headerTexto{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 40%;

}

.headerVideo{
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.headerVideo video{
    width: 80%;
}

.headerTexto h1{
    color: black;
    font-weight: 300;
    font-size: 80px;
}

.headerTexto span{
    color: #F23E76;
    font-weight: 300!important;
}

.seccionUno{
    padding: 60px 10%;
    background: rgb(223,255,223);
    background: linear-gradient(0deg, rgba(223,255,223,1) 0%, rgba(255,221,233,1) 100%);  
    display: flex;
    flex-direction: column;
    align-items: center;  
}

.tituloSeccionUno{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
}

.videoTexto{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: -250px;
}

.tituloSeccionUno h2{
    color: black;
    font-weight: 600;
    text-align: end;
    margin-bottom: 20px;
    margin-right: 100px;
    font-family: 'Gochi Hand', cursive;
    font-size: 40px;
}

.tituloSeccionUno h2 strong{
    color: #45BF45;
    font-family: 'Gochi Hand', cursive;
}

.tituloSeccionUno h2 strong span{
    color: #F23E76;
    font-family: 'Gochi Hand', cursive;
}

.seccionUno iframe{
    width: 100%;
    height: 720px;
    border-radius: 50px;
    -webkit-box-shadow: 0px 0px 15px -2px #000000; 
    box-shadow: 0px 0px 15px -2px #000000;
}

.seccionTarjeta{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.seccionTarjetaTitulo{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.seccionTarjetaTitulo h2{
    color: black;
    font-weight: 600;
    margin-top: 80px;
    font-family: 'Gochi Hand', cursive;
    text-align: center;
}

.seccionTarjetaTitulo h2 strong{
    font-family: 'Gochi Hand', cursive;
}

.cardBarbara{
    position: relative;
    width: 100%;
    height: 400px;
    margin-top: 150px;
}


.cardBarbara .front{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    transition: 0.5s all;
    border-radius: 50px;
    -webkit-box-shadow: 0px 0px 15px -8px #000000; 
box-shadow: 0px 0px 15px -8px #000000;
}

.cardBarbara .back{
    position: absolute;
    width: 100%;
    height: max-content;
    backface-visibility: hidden;
    transition: 0.5s all;
    border-radius: 50px;
    -webkit-box-shadow: 0px 0px 15px -8px #000000; 
box-shadow: 0px 0px 15px -8px #000000;
}

.front{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: end;
    padding: 50px 10%;
    background: rgb(223,255,223);
    background: linear-gradient(0deg, rgba(223,255,223,1) 0%, rgba(255,221,233,1) 100%);  
    transform: perspective(500px) rotateY(0deg);
}

.frontTexto{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.frontTexto h3{
    font-size: 35px;
}

.frontTexto small{
    text-align: end;
    font-size: 15px;
}

.frontTexto ul{
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin-top: 15px;
}

.front img{
    position: absolute;
    margin-left: 100px;
    left: 0;
    bottom: 0;
    height: 550px;
}

.back{
    background-color: white;
    transform: perspective(500px) rotateY(180deg);
    display: flex;
    height: max-content;
    align-items: center;
    justify-content: center;
    padding: 50px 10%;
}

.back h3{
    font-weight: 400;
    font-size: 22px;
    line-height: 40px;
    text-align: center;
}

.cardBarbara:hover .front{
    transform: perspective(500px) rotateY(180deg);
}

.cardBarbara:hover{
    margin-top: 50px;
}

.cardBarbara:hover .back{
    transform: perspective(500px) rotateY(360deg);
}

.seccionTarjetas{
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
}

.profesionalCard{
    position: relative;
    width: 350px;
    height: 370px;
    border-radius: 50px;
}


.profesionalCard .front{
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    transition: 0.5s all;
    border-radius: 50px;
    -webkit-box-shadow: 0px 0px 15px -8px #000000; 
box-shadow: 0px 0px 15px -8px #000000;
    border-radius: 50px;
    padding: 0px 0px!important;
}

.profesionalCard .front img{
    position: relative!important;
    width: 100%;
    height: 80%;
    margin-left: 0px!important;
    border-radius: 50px;
    margin-top: 20px;
}

.profesionalCard .back{
    position: absolute;
    width: 100%!important;
    height: 100%!important;
    backface-visibility: hidden;
    transition: 0.5s all;
    border-radius: 50px;
    -webkit-box-shadow: 0px 0px 15px -8px #000000; 
    box-shadow: 0px 0px 15px -8px #000000;
    border-radius: 50px;
    padding: 0px 0px!important;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

.profesionalCard .back i{
    font-size: 60px;
    color: #F23E76;
}

.profesionalCard:hover .front{
    transform: perspective(500px) rotateY(180deg);
}

.profesionalCard:hover .back{
    transform: perspective(500px) rotateY(360deg);
}

.modalVideo{
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: #00000000;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -200;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
}

.modalVideo iframe{
    width: 560px!important;
    height: 315px!important;
}

.botonCerrar i{
    position: absolute;
    top: 0;
    right: 0;
    font-size: 40px;
    color: white;
    margin-right: 80px;
    margin-top: 50px;
    cursor: pointer;
}

.seccionServicios{
    display: flex;
    flex-direction: column;
}

.gradient-text {
    background: linear-gradient(#00cd00,#ff2373);
    -webkit-background-clip: text;
    color: transparent; 
    text-align: center;
}
  
.gradient-text{
    font-size: 50px;
}

.serviciosLista{
    display: flex;
    flex-direction: column;
    padding: 0px 10%;
}

.seccionServicios h2{
    margin-bottom: 50px;
    font-weight: 600;
}

.servicio{
    display: flex;
    flex-direction: column;
    padding: 50px 10%;
    width: 100%;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    transition: all 0.5s;
}

.servicioTextoImagen{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.servicioTextoImagen h3{
    font-size: 34px;
}

.servicioTextoImagen img{
    height: 100px;
}

.parrafoOculto{
    display: none;
}

.parrafoOculto ul{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.servicio:hover{
    border-radius: 50px;
}

.servicio:hover h3{
    transition: all 0.5s;
    scale: 1.2;
}

.servicio:hover img{
    transition: all 0.5s;
    scale: 1.2;
}

.servicio:hover .parrafoOculto{
    display: unset;
}

.psicologia{
    background-color: #fdb4ff7e;
}

.psicologia:hover{
    background-color: #FDB4FF;
    transition: all 0.5s;
}

.pedagogia{
    background-color: #86E9FF7e;
}

.pedagogia:hover{
    background-color: #86E9FF;
    transition: all 0.5s;
}

.logopedia{
    background-color: #87FFDB7e;
}

.logopedia:hover{
    background-color: #87FFDB;
    transition: all 0.5s;
}

.terapiaOcupacional{
    background-color: #C9C0FF7e;
}

.terapiaOcupacional:hover{
    background-color: #C9C0FF;
    transition: all 0.5s;
}

.otrosServicios{
    background-color: #EDFF7E7e;
}

.otrosServicios:hover{
    background-color: #EDFF7E;
    transition: all 0.5s;
}

.seccionNuestroEspacio{
    margin-top: 80px;
    padding: 0px 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.seccionNuestroEspacio h2{
    margin-bottom: 30px;
    font-weight: 600;
}

.carousel {
    width: 100%;
    border: 1px solid lightgray;
    border-radius: 50px;
}

.carousel-inner {
    border-radius: 50px;
}

.imagenItem{
    width: 100%;
    height: 700px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top;
}

@media screen and (max-width: 1573px){
    .front img{
        margin-left: 50px;
        height: 450px;
    }
}

@media screen and (max-width: 1557px){
    .videoTexto {
        margin-top: -180px;
    }
}


@media screen and (max-width: 1373px){
    .card{
        margin-top: 50px;
    }
    .front img{
        margin-left: 15px;
        height: 400px;
    }
    .frontTexto h3{
        font-size: 25px;
        text-align: end;
    }
    
    .frontTexto small{
        text-align: end;
        font-size: 15px;
    }
    
    .frontTexto ul{
        display: flex;
        flex-direction: column;
        gap: 25px;
        margin-top: 15px;
    }
    .front{
        padding: 50px 5%;
    }
}

@media screen and (max-width: 1219px){
    .frontTexto ul li{
        font-size: 12px;
    }
}

@media screen and (max-width: 1181px){
    .videoTexto {
        margin-top: -129px;
    }
}


@media screen and (max-width: 1025px){
    .card{
        height: 100%;
    }
    .card .front{
        flex-direction: column;
        height: max-content;
        padding-top: 50px!important;
        padding-bottom: 0px!important;
        padding-left: 50px!important;
        padding-right: 50px!important;
    }
    .card .back{
        height: max-content;
        padding-top: 50px!important;
        padding-bottom: 0px!important;
        padding-left: 50px!important;
        padding-right: 50px!important;
    }

    .card .back h3{
        font-size: 15px;
    }
    .front img{
        position: relative;
    }
}


@media screen and (max-width: 953px){
    .videoTexto {
        margin-top: -75px;
    }
    .tituloSeccionUno h2 {
        margin-bottom: 20px;
        margin-right: 20px;
        font-size: 25px;
    }
    .waveUno{
        margin-bottom: -30px;
    }
}

@media screen and (max-width: 857px){
    .menuMobile{
        display: unset;
        background-color: white;
        width: 100%;
        padding: 20px;
        position: absolute;
        top: 0;
        margin-top: 78px;
        z-index: 101;
        -webkit-box-shadow: 0px 16px 15px 0px rgba(0,0,0,0.28); 
        box-shadow: 0px 16px 15px 0px rgba(0,0,0,0.28);
        transition: 0.5s all;
        transform: translateX(-100vw);
    }
    .menuMobile ul{
        display: flex;
        flex-direction: column;
        align-items: start;
        list-style: none;
        gap: 50px;
    }
    .menuMobile ul li{
        border-bottom: 1px solid lightgray;
        padding-bottom: 10px;
        width: 100%;
    }
    .menuMobile ul li a{
        color: black;
        text-decoration: none;

    }
    .botonMenu{
        display: unset;
    }
    .menuDesktop{
        display: none;
    }
    .headerTexto{
        width: 100%;
    }
    .headerTexto br{
        display: none;
    }
}

@media screen and (max-width: 585px){
    .headerTexto h1{
        font-size: 50px;
    }
}